.battle-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.health-bar {
    height: 5px;
    border: none;
    width: 30%;
    margin: auto;
    border-radius: 12px;
}

.exit-battle-btn {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.exit-battle-btn::before {
    content: '<=';
    position: absolute;
    color: white;
}
