.hidden {
    display: none;
}

h4 {
    text-align: center;
    font-size: 25px;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    height: 85vh;
    color: white;
}

.form-input {
    padding: 0 5px 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2c2c2c;
    border-radius: 12px;
    width: 285px;
    height: 40px;
    border: solid 1px grey;
    outline: none;
    color: white;
}

.form-input:focus {
    border-bottom: 2px solid royalblue;
}

.submit-btn {
    padding: 10px;
    width: 300px;
    height: 45px;
    border: none;
    outline: none;
    background-color: royalblue;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.form-link {
    padding: 10px;
    width: auto;
    min-width: 300px;
    margin-top: auto;
    text-align: center;
    outline: none;
    text-decoration: none;
    border: 2px solid royalblue;
    color: white;
    border-radius: 20px;
}
